<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo</h1>
        <h2>Login</h2>
        <form action="/" method="POST">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>

            <label for="passwrd">Senha</label>
            <input type="password" id="passwrd" name="passwrd" required>

            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="/createUsr">Crie uma agora</a></p>
    </div>
</body>
</html>